* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color:rgb(224, 219, 219);
  font-family: Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.bento{
    width:80%;
    height:80%;
    background:black;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
#bento-item1{
    background-color: aliceblue;
}
#bento-item2{
    background-color: rgba(240, 248, 255, 0.813);
}
#bento-item3{
    background-color: rgba(240, 248, 255, 0.683);
}
#bento-item4{
    background-color: rgba(240, 248, 255, 0.493);
}
#bento-item5{
    background-color: rgba(240, 248, 255, 0.322);
}
#bento-item6{
    background-color: rgba(240, 248, 255, 0.279);
}
#bento-item7{
    background-color: rgba(240, 248, 255, 0.29);
}
#bento-item8{
    background-color: rgba(240, 248, 255, 0.164);
}
#bento-item9{
    background-color: rgba(240, 248, 255, 0.112);
}