* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
main{
    width:100%;
    height:100%;
    display:flex;
    position: relative;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    button{
        padding:1rem 2rem;
        border:none;
        background-color: crimson;
        color:white;
        font-size:1.2rem;
        border-radius:0.5rem;
        z-index:10;
        position:relative;
    }
}