* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px,1vw,18px);
}
@property --rotate{
    syntax:"<angle>";
    initial-value:0deg;
    inherits:false;
}
@keyframes borderAnimation {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}
.card{
    width:400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    gap:1rem;
    box-shadow:0px 0px 0px rgb(223, 60, 204);
    padding:0px;
    border-radius:20px;
    background: 
    linear-gradient(to left top, black)content-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 123), black)padding-box;
    animation:borderAnimation 5s infinite;
    animation-timing-function:linear;
    animation-play-state: paused;
    border: 2px solid transparent;
    color:whitesmoke;
    text-shadow:0px 0px 0px rgb(255, 0, 123);
    transition: all 0.5s ease;
}
.card:hover{
    padding: 8px;
    box-shadow:0px 0px 100px rgb(223, 60, 204);
    animation-play-state: running;
    border: 2px solid black;
    color:rgb(255, 0, 123);
    text-shadow:0px 0px 25px rgb(255, 0, 123);
}   
.background-img{
    background-image: url(WebCollage_angryedit.webp);
    background-position: center;
    background-size: cover;
    aspect-ratio:1/1;
    width:100%;
}
h1,p{
    padding-inline: 10px;
}
p{
    padding-bottom: 10px;
}