@font-face {
    font-family:danger;
    src: url(Another\ Danger\ Slanted\ -\ Demo.otf);
}
@font-face {
    font-family:Blood;
    src: url(Blood\ Victim\ Zombie.ttf);
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
.hero-sec{
    width:100%;
    height: 100%;
    background-image: url(bgimg.avif);
    background-position:center;
    background-size:cover;
    text-align: center;
}
h1{
    font-family:danger;
    font-size: 100px;
    color:white;
    font-weight:100;
    padding: 20px 10px;
}
button{
    background-color:transparent;
    color:orange;
    font-size: 50px;
    border: none;
    font-family:Blood;
}
button:hover{
    transform: scale(1.1);
}
