* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Helvetica, sans-serif;
}
@import "hover";
@mixin bg-img($url){
 background-image:$url;
}
main {
  display: flex;
  width: inherit;
  height: inherit;
  gap:10px;
//   flex-wrap: wrap;

  section {
    // width: inherit;
    height: inherit;
    flex-grow:1;
    background-position: center;
    background-size: cover;
    transition:all 0.5s ease-in;
  }
  section:nth-child(1){
    @include bg-img(url(asset/img-1.jpg));
  }
  section:nth-child(2){
    @include bg-img(url(asset/img-2.jpg));
  }
  section:nth-child(3){
     @include bg-img(url(asset/img-3.jpg));
  }
  section:nth-child(4){
    @include bg-img(url(asset/img-4.jpg));
  }
  section:nth-child(5){
     @include bg-img(url(asset/img-5.png));
  }
}
