* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height:100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  position: relative;
}
video{
 position: fixed;
 top:50%;
 left:50%;
 width:100vh;
 height:100vw;
 transform: translate(-50%,-50%) rotate(-90deg);
 object-fit: cover;
 z-index:1;
}
:root{
    --x:100px;
    --y:100px;
}
.spotlight{
    inset:0;
    background:radial-gradient(180px at var(--x) var(--y),rgba(255, 255, 255, 0.45),rgba(0, 0, 0, 0.9));
    position:fixed;
    z-index:2;
}