@import "tailwindcss";
@layer base{
  body{
  background-color: var(--color-black);
  color:white;
  }
}
@layer components{
  .card{
    background-color: white;
    color:black;
    width:300px;
    aspect-ratio:1/1.1;
    border-radius:10px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
}
