* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  cursor: none;
}
img{
    width:50px;
    height:50px;
    filter:invert(1);
    position:fixed;
    transform:translate(-50%,-50%);
}