* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:1rem;
}
.card{
    border:2px solid white;
    width:400px;
    height:400px;
    display: grid;
    background-image:url(asset/ipl-logo.jpg);
    background-position: center;
    background-size: cover;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"a b"
                        "c c"
                        "d d";
}
.item1{
    grid-area:a;
    background-position:top;
    background-size:cover;
}
.item2{
    display: flex;
    align-items:center;
    justify-content:center;
    /* background-color: rgba(0, 255, 255, 0.258); */
     grid-area:b;
     padding:0.5rem;
}
.item3{
     grid-area:c;
    background-position:center;
    background-size:cover;
}
.item4{
    display: flex;
    align-items:center;
    justify-content:center;
    /* background-color: rgba(0, 255, 255, 0.194); */
     grid-area:d;
}
i{
    font-size:4rem;
}
button{
    padding:1.1rem;
    border-radius:0.5rem;;
    text-transform:capitalize;
    font-size:1.1rem;
    transform: all 0.5s ease-out;
}
button:active{
    scale:1.1;
}
