*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width:50%;
    margin:0,auto;
    box-shadow:10px 5px 5px red;
}
ul{
    display:flex;
    justify-content: space-around;
}
li{
   list-style-type: none;
}

