*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav{
    width:50%;
    margin:0,auto;
    box-shadow:10px 5px 5px red;
    box-sizing:border-box;
}
ul{
    display:flex;
    justify-content: space-around;
}
li{
   list-style-type: none;
   line-height: 5px;
}
li:hover{
    text-decoration: underline;
}

