* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  /* height: 100%; */
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
body{
    display:flex;
  justify-content: center;
}
main{
    width: 100%;
    max-width:2000px;
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    gap:2rem;
    justify-content:center;
    /* align-content: center; */
}
.card{
    width:23%;
    min-width:300px;
    aspect-ratio:1/0.5;
    display:flex;
    flex-direction: column;
    gap:3.5rem;
    border-radius:1.5rem;
    background:linear-gradient(#5E5368,#000000);
}
.img-wrapper{
    width: 100%;
    position: relative;
}
.bgimg{
    border-radius:1.5rem;
    width: 100%;
    aspect-ratio:1/0.4;
    background-position:center;
    background-size:cover;
    /* background-image:url(https://i.pinimg.com/736x/6d/1d/44/6d1d44b9236c5d26d538f54046972b61.jpg) */
}
img{
    width: 30%;
    border-radius:50%;
    position:absolute;
    display:block;
    top:100%;
    left:50%;
    translate:-50% -50%;
}
.name{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    align-items: center;
}
.title{
    /* white-space: nowrap; */
    text-transform:uppercase;
}
.description{
    line-height:1.5;
    width:80%;
    text-transform: capitalize;
}
.socials{
    width:100%;
    display: flex;
    gap:1rem;
    background-color: rgb(220, 220, 220);
    justify-content: space-around;
    align-items: center;
    padding:1rem 1.5rem;
    color:black;
    border-radius:1.5rem;
}
.item{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:3px;
    text-transform: capitalize;
    justify-content: center;
}
.num{
    font-size:1.6rem;
    font-weight:800;
}   
.subtitle{
    font-size:0.8rem;
    font-weight:400;
    color:rgb(53, 51, 51);
}
@media (max-width:600px){
    main{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .card{
        width:100%;
    }
}