@font-face {
    font-family: skytone;
    src: url(Skytone.otf);
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#hero_section_fullwidth{
    width:100%;
    height:25%;
    background-color: rgb(1, 14, 54);
    text-align: center;
    padding-top:45px;
    color:white;
    font-family:'Times New Roman', Times, serif;
}
h1{
    text-transform:uppercase;
    font-size:60px;
}
h2{
    text-transform:uppercase;
    font-size:40px;
}
#hero_section_fullwidth p{
    text-transform:capitalize;
    padding-top:20px;
    font-size:20px;
    font-weight:300;
    color: aliceblue;
    font-style: italic;
}
section{
    width:80%;
    margin:2.5% 10%;
    padding:25px;
    background-color: cyan;
    text-align: center;
}
.box{
    width:70%;
    margin:1.5% 15%;
    padding:25px;
    background-color:white;
    text-align: center;
    font-size:15px;
    font-family:skytone;
}
.about-me p{
    padding-top: 10px;
    line-height: 20px;
}

input,textarea{
    width: 50%;
    height:50px;
    margin: 10px auto;
    display: block;
    text-align: left;
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
textarea{
  padding-top: 12px;
  padding-left: 2px;
}
input:invalid{
    border-color:red;
}
input:valid{
    border-color:green;
}
.about-me{
    background-color:rgb(245, 245, 245);
}
.education{
    background-color:violet;
}
.skills{
    background-color:bisque;
}
.projects{
    background-color:pink;
}
.contact{
    background-color:aquamarine;  
}   
footer{
    width:100%;
    height:5%;
    background-color: rgb(1, 14, 54);
    text-align: center;
    padding-top:10px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-weight:800;
}
