* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
main{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;

    .box{
        width:40%;
        height:50%;
        background-color: rgb(255,255,255);
        border-radius:1rem;
        outline:1px solid rosybrown;
        box-shadow:0rem 0rem 1rem 1rem rgb(0,0,255);
    }
    button{
        padding:1rem 0.5rem;
        border-radius: 1rem;
        background:linear-gradient(purple,violet);
        text-transform:uppercase;
        color:white;
        font-weight:500;
        border: none;
        transition: all 0.5s ease-out;

         &:active{
        scale:1.1;
    }
    }
}
