* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
@mixin size($width) {
  width: $width;
}
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main {
  @include size(100%);
  height: 100%;
  @include flex(row);
  .card {
    @include size(400px);
    @include flex(column);
    background-color: rgba(255, 0, 0, 0.347);
    border-radius: 1rem;
    padding: 0.5rem;
    .img {
      @include size(100%);
    //   overflow: hidden;
      position: relative;
      img {
        @include size(100%);
        aspect-ratio: 1/0.9;
        object-fit: cover;
        object-position: top;
        border-radius: 1rem;
      }
      i{
        color:transparent;
        position:absolute;
        left:92%;
        top:92%;
        font-size:40px;
        transform: translate(-50%,-50%);
        opacity:1.1;
        background: linear-gradient(#833ab4,#fd1d1d,#fcb045);
        background-clip:text;
        // display:block;
        cursor:pointer; 
      }
    }
    .name {
      h1 {
        color: transparent;
        text-transform: uppercase;
        font-size: 40px;
        -webkit-text-stroke: 0.1px white;
      }
    }
  }
}
