
.blog-post-card{
    background-color: white;
    border-radius:15px;
    width:350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.post-img{
    width:100%;
    border-bottom: 5px solid #333;
}
.post-content{
    padding:20px;
}
.post-title{
    color: #333;
    margin: 0 0 10px;
}
.post-excerpt {
    color: #667;
    margin: 10px 0;
}
.read-more{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
   background-color:#555;
}